<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenid@ a nuestra tienda.</h1>
    <p class="lead">En este sitio podrás aprender y adquirir cervezas nacionales e importadas.</p>
    <hr class="my-4">
    <p>Revisá nuestro catalogo de cervezas.</p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">Ver Productos</a>
  </div>
<%- include('partials/footer'); -%>